body {
    background-color: #11151B;
    color: #f7f7f7;
    background-image: url(../img/stars.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.4);
}

h1 {
    font-size: 80px;
    font-family: Impact;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

button {
    width: 250px;
    height: 80px;
    color: #fff;
    background-color: rgba(9, 9, 83, 0.8);
    transition: all 0.3s;
    border-color: rgba(9, 9, 83, 0.8);
}

button:hover {
    background-color: rgba(55, 0, 128, 0.8);
    border-color: rgba(55, 0, 128, 0.8);
}